$deepblue   : "#1F578F";
$midblue    : "#4691DC";
$lightblue  : "#6BB4FF";
$chocolate  : "#8F6011";
$mocha      : "#DCA446";

$retina: "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)";

$small-bp: "450px";
$mid-bp: "650px";
$wide-bp: "1000px";


/****** Mixins ******/
@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}